body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Ubuntu, sans-serif;
  color: #444546;
  background: #f4f4f4; }

.Background {
  position: absolute;
  width: 100%;
  height: 60vh;
  background: #FE6644;
  top: 0;
  left: 0;
  z-index: -1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1, h2, h3, h4, h5, h6,
ul,
p {
  margin: 0 0 20px; }

a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #FE8166;
  transition: all 0.2s; }
  a:hover {
    color: rgba(255, 255, 255, 0.7); }

h1 {
  font-weight: bold;
  color: #fff;
  font-size: 40px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); }

.Header a {
  margin-right: 15px; }

.Container {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px; }

.Cube-side a {
  text-decoration: none;
  color: #fff;
  border: 0; }
